<a href="https://colab.research.google.com/github/armandovl/analisis_canasta/blob/master/analisis_de_canasta_grocery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i1.wp.com/www.sopitas.com/wp-content/uploads/2014/08/Tec-de-Monterrey-Logo-640x581.jpg" width="50"/> 
<h5>ITESM Campus Santa Fe <br> Armando Vald√©s </h5>

### Nomenclatura
üü† Modificar <br>
‚èÆ Repetir en caso de cambiar texto<br>
üîò Opcional

### 1.-Instalar bibliotecas

In [1]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=7a394927e11ad4f99e51b527f4abeff9d4549832c87e5a3aa088e1a43fa192c3
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
from apyori import apriori

### 2.-Importar datos (base depurada) üü†

In [3]:
#para importar desde url
url='https://raw.githubusercontent.com/armandovl/analisis_canasta/master/bases_de_datos/grocery_20.csv'

In [5]:
df_data = pd.read_csv(url, header = None)

In [6]:
df_data.head(5)

       0      1          2           3
0   MILK  BREAD    BISCUIT         NaN
1  BREAD   MILK    BISCUIT  CORNFLAKES
2  BREAD    TEA  BOURNVITA         NaN
3    JAM  JUICE      BREAD        MILK
4  JUICE    TEA    BISCUIT         NaN

In [7]:
df_data.tail(5) #aqu√≠ un problema, me pone al final una columna con puros NaN

        0       1          2           3
16  BREAD   SUGAR  BOURNVITA         NaN
17  BREAD  COFFEE    SPLENDA         NaN
18  BREAD  COFFEE     STEVIA         NaN
19    TEA    MILK     COFFEE  CORNFLAKES
20    NaN     NaN        NaN         NaN

In [8]:
df_data=df_data.dropna(how="all") #corrigiendo el problema, eliminando fila donde todo sea NaN

In [9]:
len(df_data)

20

### 3.- Preprocesar (lista de listas) ‚èÆ

In [10]:
records = []  
for i in range(0, len(df_data)):  
    records.append([str(df_data.values[i,j]) for j in range(0, len(df_data.columns))])

### 4.-Definir umbrales üü†‚èÆ

In [18]:
lon_min = 2 # N√∫mero m√≠nimo de productos a considerar en las reglas

veces_minimas_aparece_en_lista=3
soporte_min = veces_minimas_aparece_en_lista / len(df_data)

#soporte_min =0.01
confianza_min =0.2
sustento_min =1.5

### 5.-Ejecutar algoritmo ‚èÆ

In [19]:
association_rules = apriori(records, min_support=soporte_min, min_confidence=confianza_min, min_lift=sustento_min, min_length=lon_min)
association_results = list(association_rules)  #Convertir los resultados a lista para facilidad de visualizaci√≥n

### 6.- Resultados FINAL!!!  ‚èÆ

In [20]:
# Cuentas de resultados encontrados
len(association_results) # N√∫mero total de reglas (combinaciones) por el algoritmo

4

In [21]:
# Visualizar 1 resultado
association_results[1]

RelationRecord(items=frozenset({'COFFEE', 'CORNFLAKES'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'COFFEE'}), items_add=frozenset({'CORNFLAKES'}), confidence=0.5, lift=1.6666666666666667), OrderedStatistic(items_base=frozenset({'CORNFLAKES'}), items_add=frozenset({'COFFEE'}), confidence=0.6666666666666667, lift=1.6666666666666667)])

In [22]:
total_compras=len(df_data)
print(total_compras)

20

#### Visualizar todos los resultados

In [23]:
# Visualizar todos los resultados
contador=1
for item in association_results:

    pair = item[0] 
    items = [x for x in pair]
    print(contador)
    print("Regla: " + items[0] + " -> " + items[1])
    print("Soporte: " + str(item[1]*100))
    print("Confianza: " + str(item[2][0][2]*100))
    print("Sustento: " + str(item[2][0][3]))
    print("=====================================")
    contador=contador+1

1
Regla: COOKIES -> COFFEE
Soporte: 15.0
Confianza: 37.49999999999999
Sustento: 1.8749999999999996
=====================================
2
Regla: COFFEE -> CORNFLAKES
Soporte: 20.0
Confianza: 50.0
Sustento: 1.6666666666666667
=====================================
3
Regla: TEA -> JUICE
Soporte: 20.0
Confianza: 80.0
Sustento: 2.285714285714286
=====================================
4
Regla: nan -> COFFEE
Soporte: 15.0
Confianza: 25.0
Sustento: 1.6666666666666667
=====================================

#### Visualizar todos los resultados (con comentarios)

In [24]:
# Visualizar todos los resultados
contador=1
for item in association_results:

    pair = item[0] 
    items = [x for x in pair]
    print("Regla: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print(contador)
    print("  Total de compras: " + str(total_compras))
    print("  Veces que aparece la combinaci√≥n: " + str(item[1]*total_compras))
    print("  Soporte (% apariciones): " + str(item[1]*100))
    print("  Confianza (de 100 veces que se compra A, el producto B se compra): " + str(item[2][0][2]*100))
    print("  Sustento (mayor a 1 -> no es casualidad): " + str(item[2][0][3]))
    print("==========================================================")
    print("==========================================================")
    contador=contador+1

Regla: COOKIES -> COFFEE
1
  Total de compras: 20
  Veces que aparece la combinaci√≥n: 3.0
  Soporte (% apariciones): 15.0
  Confianza (de 100 veces que se compra A, el producto B se compra): 37.49999999999999
  Sustento (mayor a 1 -> no es casualidad): 1.8749999999999996
==========================================================
==========================================================
Regla: COFFEE -> CORNFLAKES
2
  Total de compras: 20
  Veces que aparece la combinaci√≥n: 4.0
  Soporte (% apariciones): 20.0
  Confianza (de 100 veces que se compra A, el producto B se compra): 50.0
  Sustento (mayor a 1 -> no es casualidad): 1.6666666666666667
==========================================================
==========================================================
Regla: TEA -> JUICE
3
  Total de compras: 20
  Veces que aparece la combinaci√≥n: 4.0
  Soporte (% apariciones): 20.0
  Confianza (de 100 veces que se compra A, el producto B se compra): 80.0
  Sustento (mayor a 1 -> no es casualidad): 2.285714285714286
==========================================================
==========================================================
Regla: nan -> COFFEE
4
  Total de compras: 20
  Veces que aparece la combinaci√≥n: 3.0
  Soporte (% apariciones): 15.0
  Confianza (de 100 veces que se compra A, el producto B se compra): 25.0
  Sustento (mayor a 1 -> no es casualidad): 1.6666666666666667
==========================================================
==========================================================