<a href="https://colab.research.google.com/github/armandovl/analisis_canasta/blob/master/analisis_de_canasta_amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://i1.wp.com/www.sopitas.com/wp-content/uploads/2014/08/Tec-de-Monterrey-Logo-640x581.jpg" width="50"/> 
<h5>ITESM Campus Santa Fe <br> Armando Vald√©s </h5>

### Nomenclatura
üü† Modificar <br>
‚èÆ Repetir en caso de cambiar texto<br>
üîò Opcional

### 1.-Instalar bibliotecas

In [1]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [2]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
from apyori import apriori

### 2.-Importar datos (base depurada) üü†

In [15]:
#para importar desde url
url='https://raw.githubusercontent.com/armandovl/analisis_canasta/master/bases_de_datos/ejemplo_amazon_cafe.csv'

In [21]:
df_data = pd.read_csv(url, header = None)

In [22]:
df_data.head(5)

    0     1     2
0  p1   p50  p215
1  p2  p105  p214
2  p3  p180  p214
3  p4  p121   p70
4  p5   p77   p82

In [24]:
df_data.tail(5) #aqu√≠ un problema, me pone al final una columna con puros NaN

        0     1    2
180  p175  p231  NaN
181  p176  p232  NaN
182  p177  p128  NaN
183  p178  p233  NaN
184  p179  p234  NaN

In [19]:
df_data=df_data.dropna(how="all") #corrigiendo el problema, eliminando fila donde todo sea NaN

In [23]:
len(df_data)

185

### 3.- Preprocesar (lista de listas) ‚èÆ

In [25]:
records = []  
for i in range(0, len(df_data)):  
    records.append([str(df_data.values[i,j]) for j in range(0, len(df_data.columns))])

### 4.-Definir umbrales üü†‚èÆ

In [32]:
lon_min = 2 # N√∫mero m√≠nimo de productos a considerar en las reglas

veces_minimas_aparece_en_lista=5
soporte_min = veces_minimas_aparece_en_lista / len(df_data)

#soporte_min =0.01
confianza_min =0.5
sustento_min =1.5

### 5.-Ejecutar algoritmo ‚èÆ

In [33]:
association_rules = apriori(records, min_support=soporte_min, min_confidence=confianza_min, min_lift=sustento_min, min_length=lon_min)
association_results = list(association_rules)  #Convertir los resultados a lista para facilidad de visualizaci√≥n

### 6.- Resultados FINAL!!!  ‚èÆ

In [34]:
# Cuentas de resultados encontrados
len(association_results) # N√∫mero total de reglas (combinaciones) por el algoritmo

4

In [35]:
# Visualizar 1 resultado
association_results[1]

RelationRecord(items=frozenset({'p128', 'p127'}), support=0.032432432432432434, ordered_statistics=[OrderedStatistic(items_base=frozenset({'p127'}), items_add=frozenset({'p128'}), confidence=1.0, lift=26.428571428571427), OrderedStatistic(items_base=frozenset({'p128'}), items_add=frozenset({'p127'}), confidence=0.8571428571428571, lift=26.428571428571427)])

In [36]:
total_compras=len(df_data)
print(total_compras)

185

#### Visualizar todos los resultados

In [37]:
# Visualizar todos los resultados
contador=1
for item in association_results:

    pair = item[0] 
    items = [x for x in pair]
    print(contador)
    print("Regla: " + items[0] + " -> " + items[1])
    print("Soporte: " + str(item[1]*100))
    print("Confianza: " + str(item[2][0][2]*100))
    print("Sustento: " + str(item[2][0][3]))
    print("=====================================")
    contador=contador+1

1
Regla: p115 -> p200
Soporte: 2.7027027027027026
Confianza: 55.55555555555556
Sustento: 20.555555555555554
=====================================
2
Regla: p128 -> p127
Soporte: 3.2432432432432434
Confianza: 100.0
Sustento: 26.428571428571427
=====================================
3
Regla: p182 -> p215
Soporte: 2.7027027027027026
Confianza: 50.0
Sustento: 3.5576923076923075
=====================================
4
Regla: p72 -> p66
Soporte: 2.7027027027027026
Confianza: 83.33333333333334
Sustento: 8.114035087719298
=====================================

#### Visualizar todos los resultados (con comentarios)

In [38]:
# Visualizar todos los resultados
contador=1
for item in association_results:

    pair = item[0] 
    items = [x for x in pair]
    print("Regla: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print(contador)
    print("  Total de compras: " + str(total_compras))
    print("  Veces que aparece la combinaci√≥n: " + str(item[1]*total_compras))
    print("  Soporte (% apariciones): " + str(item[1]*100))
    print("  Confianza (de 100 veces que se compra A, el producto B se compra): " + str(item[2][0][2]*100))
    print("  Sustento (mayor a 1 -> no es casualidad): " + str(item[2][0][3]))
    print("==========================================================")
    print("==========================================================")
    contador=contador+1

Regla: p115 -> p200
1
  Total de compras: 185
  Veces que aparece la combinaci√≥n: 5.0
  Soporte (% apariciones): 2.7027027027027026
  Confianza (de 100 veces que se compra A, el producto B se compra): 55.55555555555556
  Sustento (mayor a 1 -> no es casualidad): 20.555555555555554
==========================================================
==========================================================
Regla: p128 -> p127
2
  Total de compras: 185
  Veces que aparece la combinaci√≥n: 6.0
  Soporte (% apariciones): 3.2432432432432434
  Confianza (de 100 veces que se compra A, el producto B se compra): 100.0
  Sustento (mayor a 1 -> no es casualidad): 26.428571428571427
==========================================================
==========================================================
Regla: p182 -> p215
3
  Total de compras: 185
  Veces que aparece la combinaci√≥n: 5.0
  Soporte (% apariciones): 2.7027027027027026
  Confianza (de 100 veces que se compra A, el producto B se compra): 50.0
  Sustento (mayor a 1 -> no es casualidad): 3.5576923076923075
==========================================================
==========================================================
Regla: p72 -> p66
4
  Total de compras: 185
  Veces que aparece la combinaci√≥n: 5.0
  Soporte (% apariciones): 2.7027027027027026
  Confianza (de 100 veces que se compra A, el producto B se compra): 83.33333333333334
  Sustento (mayor a 1 -> no es casualidad): 8.114035087719298
==========================================================
==========================================================